h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main color #212121 */
/* text color #757575 */
/* white color #ffffff */
/* nav color rgba(255, 255, 255, 0.6) */
/* background color #2F303A */
/*background color #F5F4FA */
/*button color #FFFFFF */
/*accent #2196F3 */
:root {
  --main-color: #212121; /* текст головний */
  --text-color: #757575; /* текст другорядний */
  --white: #ffffff; /* білий */
  --nav-color: rgba(255, 255, 255, 0.6);
  --bg-dark: #2f303a;
  --bg-light: #f5f4fa;
  --accent: #2196f3;
}
body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial,
    sans-serif;
  color: var(--main-color);
}
.header {
  padding: 32px 0;
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
/* nav */
nav {
  display: flex;
  align-items: center;
}
.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  margin-left: 93px;
}
.site-nav a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent);
}
.site-nav .link.current {
  color: var(--accent);
}
.logo {
  color: var(--accent);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo span {
  color: var(--main-color);
}
.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent);
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  min-height: 600px;
  padding: 200px 0;
  text-align: center;
  background-color: var(--bg-dark);
}
.hero-button {
  margin-bottom: 0;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 22px;
}
.hero button:hover,
.hero button:focus {
  background-color: var(--bg-dark);
}
.hero h1 {
  margin-bottom: 30px;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero button {
  margin-bottom: 0px;
  background-color: var(--accent);
  color: var(--white);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.features h3 {
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features p {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-list li {
  width: 270px;
}
/* services */
.services {
  background-color: var(--white);
}
.services h2 {
  margin-bottom: 50px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.services-list {
  display: flex;
  gap: 30px;
}
.services.section {
  padding-top: 0;
}
/* team */
.team {
  background-color: var(--bg-light);
}
.team h2 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-list h3 {
  margin-bottom: 10px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list li {
  background-color: var(--white);
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list img {
  display: block;
  margin-bottom: 30px;
}
.buttons button {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: var(--bg-light);
  color: var(--main-color);

  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.buttons.section {
  padding-bottom: 34px;
  margin-bottom: 0;
}
.buttons button:hover,
.buttons button:focus {
  background-color: var(--accent);
  color: var(--white);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.footer {
  background-color: var(--bg-dark);
  padding: 60px 0;
}
.footer .logo span {
  color: var(--white);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent);
}
.footer-contacts ul {
  margin-top: 20px;
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-text {
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}
.portfolio-title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/*portfolio */
.test-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.flex-element:nth-child(3n) {
  margin-right: 0px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-content {
  padding: 24px;
}
